log.level=debug
includes=**/*.c,**/*.cc,**/*.cp,**/*.cpp,**/*.cxx,**/*.c\+\+,**/*.h,**/*.hh,**/*.hpp,**/*.hxx,**/*.h\+\+,**/*.m,**/*.mm,**/*.pch,**/*.c#,**/*.cs,**/*.csharp,**/*.go,**/*.goc,**/*.js,**/*.pl,**/*.plx,**/*.pm,**/*.ph,**/*.cgi,**/*.fcgi,**/*.pod,**/*.psgi,**/*.al,**/*.perl,**/*.t,**/*.pl6,**/*.p6m,**/*.p6l,**/*.pm6,**/*.nqp,**/*.6pl,**/*.6pm,**/*.p6,**/*.php,**/*.py,**/*.rb,**/*.swift,**/*.java,**/*.clj,**/*.cljx,**/*.cljs,**/*.cljc,**/*.jar,**/*.egg,**/*.dll,**/*.tar.gz,**/*.tgz,**/*.zip,**/*.whl,**/*.gem,**/*.apk,**/*.air,**/*.dmg,**/*.exe,**/*.gem,**/*.gzip,**/*.msi,**/*.nupkg,**/*.swc,**/*.swf,**/*.tar.bz2,**/*.pkg.tar.xz,**/*.(u)?deb,**/*.(a)?rpm
forceUpdate=false
forceCheckAllDependencies=false
checkPolicies=false
#whiteSourceFolderPath=.
#userKey=
#updateType=OVERRIDE
#updateInventory=true
#updateEmptyProject=true
#showProgressBar=true
#scanReportTimeoutMinutes=10
#scanReportFilenameFormat=project_with_timestamp
#scanComment=
#resolveAllDependencies=true
#requireKnownSha1=true
#requesterEmail=
#projectVersion=
#projectToken=
#projectName=
#productVersion=
#productToken=
#productName=
#offline.zip=false
#offline.prettyJson=true
#ignoreEuaNotices=informational
#iaLanguage=
#generateScanReport=false
#generateProjectDetailsJson=false
#forceUpdate.failBuildOnPolicyViolation=false
#fileSystemScan=true
#failErrorLevel=DEFAULT
#excludes=**/.*,**/node_modules,**/src/test,**/testdata,**/*sources.jar,**/*javadoc.jar
#excludeDependenciesFromNodes=
#euaVul=euaVul.json
#euaRes=euaRes.json
#euaOffline=
#euaDep=euaDep.json
#enableImpactAnalysis=false
#configFilePath=
#commandTimeout=900
#appPath=
#apiKey=
#analyzeMultiModule=
#analyzeFrameworksReference=analyzeFrameworks.txt
#analyzeFrameworks=false

##### ANT #####
#ant.resolveDependencies=true
#ant.pathIdIncludes=
#ant.external.parameters=

##### archive #####
archiveIncludes=**/*.war,**/*.ear,**/*.zip,**/*.whl,**/*.tar.gz,**/*.tgz,**/*.tar,**/*.car
archiveExtractionDepth=0
archiveExcludes=**/*sources.jar,**/*javadoc.jar,**/tests/**

##### artifactory #####
#artifactory.userPassword=
#artifactory.userName=
#artifactory.url=
#artifactory.repoKeys=
#artifactory.includes=.*.*
#artifactory.excludes=
#artifactory.enableScan=false
#artifactory.accessToken=

##### bazel #####
#bazel.runPreStep=false
#bazel.resolveDependencies=true

##### bower #####
bower.runPreStep=true
bower.resolveDependencies=true
bower.ignoreSourceFiles=true

##### cabal #####
haskell.runPreStep=true
haskell.resolveDependencies=true
haskell.ignorePreStepErrors=true
#haskell.ignoreSourceFiles=true

##### cargo #####
#cargo.runPreStep=false
#cargo.resolveDependencies=true
#cargo.ignoreSourceFiles=true

##### cocoapods #####
cocoapods.runPreStep=true
cocoapods.resolveDependencies=true
cocoapods.ignoreSourceFiles=true

##### conda #####
conda.resolveDependencies=true

##### docker #####
docker.scanImages=false
#docker.scanTarFiles=false
#docker.scanContainers=false
#docker.pull.tags=
#docker.pull.maxImages=10
#docker.pull.images=
#docker.pull.force=false
#docker.pull.enable=false
#docker.pull.digest=
#docker.projectNameFormat=default
#docker.login.sudo=true
#docker.layers=false
#docker.includes=.*.*
#docker.includeSingleScan=
#docker.excludes=
#docker.delete.force=false
#docker.containerIncludes=.*.*
#docker.containerExcludes=

##### docker artifactory #####
#docker.artifactory.userPassword=
#docker.artifactory.userName=
#docker.artifactory.url=
#docker.artifactory.repositoriesNames=
#docker.artifactory.pullUrl=
#docker.artifactory.enable=false
#docker.artifactory.dockerAccessMethod= 

##### docker aws #####
#docker.aws.registryIds=
#docker.aws.enable=false

##### docker azure #####
#docker.azure.userPassword=
#docker.azure.userName=
#docker.azure.registryNames=
#docker.azure.registryAuthenticationParameters=
#docker.azure.enable=false
#docker.azure.authenticationType=UserAccount

##### docker google containers #####
#docker.gcr.repositories=
#docker.gcr.enable=false
#docker.gcr.account=

##### docker hub #####
#docker.hub.userPassword=
#docker.hub.userName=
#docker.hub.organizationsNames=
#docker.hub.enabled=false
#docker.hub.accessToken=

##### environment #####
followSymbolicLinks=true
case.sensitive.glob=false

##### go #####
go.resolveDependencies=true
go.ignoreSourceFiles=true
go.collectDependenciesAtRuntime=true
#go.modules.resolveDependencies=true
#go.modules.removeDuplicateDependencies=true
#go.modules.includeTestDependencies=false
#go.modules.ignoreSourceFiles=true
#go.gogradle.enableTaskAlias=false
#go.glide.ignoreTestPackages=true
#go.dependencyManager=

##### gradle #####
gradle.resolveDependencies=true
gradle.ignoreSourceFiles=true
gradle.aggregateModules=false
#gradle.preferredEnvironment=wrapper
#gradle.innerModulesAsDependencies=true
#gradle.includedConfigurations=
#gradle.includeModules=
#gradle.ignoredConfigurations=
#gradle.excludeModules=
#gradle.additionalArguments=

##### hex #####
hex.runPreStep=true
hex.resolveDependencies=true
hex.ignoreSourceFiles=true
hex.aggregateModules=false

##### html #####
html.resolveDependencies=true

##### maven #####
maven.runPreStep=false
maven.resolveDependencies=true
maven.ignoredScopes=[]
maven.ignoreSourceFiles=true
maven.ignorePomModules=false
maven.ignoreMvnTreeErrors=true
maven.aggregateModules=false
#maven.projectNameFromDependencyFile=false
#maven.maxCacheFolderSize=
#maven.m2RepositoryPath=
#maven.environmentPath=
#maven.downloadMissingDependencies=true
#maven.additionalArguments=

##### npm #####
npm.yarnProject=false
npm.runPreStep=true
npm.resolveDependencies=true
npm.includeDevDependencies=true
npm.ignoreSourceFiles=true
npm.ignoreScripts=true
npm.ignoreNpmLsErrors=true
#npm.yarn.frozenLockfile=false
#npm.resolveMainPackageJsonOnly=false
#npm.resolveLockFile=true
#npm.resolveGlobalPackages=false
#npm.resolveAdditionalDependencies=false
#npm.removeDuplicateDependencies=true
#npm.projectNameFromDependencyFile=false
#npm.ignoreDirectoryPatterns=example,examples,.ws_bower,test
#npm.identifyByNameAndVersion=false
#npm.failOnNpmLsErrors=
#npm.accessToken=

##### nuget #####
nuget.runPreStep=true
nuget.resolveDependencies=true
nuget.ignoreSourceFiles=true
#nuget.resolvePackagesConfigFiles=true
#nuget.resolveNuspecFiles=true
#nuget.resolveCsProjFiles=true
#nuget.resolveAssetsFiles=true
#nuget.preferredEnvironment=
#nuget.packagesDirectory=

##### ocaml #####
#ocaml.switchName=
#ocaml.runPreStep=false
#ocaml.resolveDependencies=true
#ocaml.ignoredScopes=with-test,with-doc
#ocaml.ignoreSourceFiles=false
#ocaml.aggregateModules=false

##### paket #####
paket.runPreStep=true
paket.resolveDependencies=true
paket.ignoredGroups=[]
paket.ignoreSourceFiles=true
paket.exePath=/usr/local/bin/paket

##### php #####
php.runPreStep=true
php.resolveDependencies=true
php.removeDuplicateDependencies=true
php.includeDevDependencies=true
#php.ignoreSourceFiles=true

##### python #####
python.runPoetryPreStep=true
python.runPipenvPreStep=true
python.resolveSetupPyFiles=true
python.resolveHierarchyTree=true
python.resolveDependencies=true
python.pipenvDevDependencies=true
python.installVirtualenv=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.IgnorePipenvInstallErrors=true
#python.resolvePipEditablePackages=false
#python.resolveGlobalPackages=false
#python.requirementsFileIncludes=
#python.pipPath=pip
#python.path=python
#python.localPackagePathsToInstall=
#python.indexUrl=
#python.includePoetryDevDependencies=false

##### r_language #####
r.runPreStep=true
r.resolveDependencies=true
r.ignoreSourceFiles=true
r.cranMirrorUrl=https://cloud.r-project.org/
#r.packageManager=packrat

##### ruby #####
ruby.runBundleInstall=true
ruby.resolveDependencies=true
ruby.overwriteGemFile=false
ruby.installMissingGems=true
ruby.ignoreSourceFiles=true

##### sbt #####
sbt.runPreStep=true
sbt.resolveDependencies=true
sbt.ignoreSourceFiles=true
sbt.aggregateModules=false
#sbt.includedScopes=compile,runtime

##### scm #####
#scm.user=
#scm.url=
#scm.tag=
#scm.repositoriesFile=
#scm.ppk=
#scm.pass=
#scm.branch=

##### serverless #####
#serverless.scanFunctions=false
#serverless.region=
#serverless.provider=aws-lambda
#serverless.maxFunctions=10
#serverless.includes=
#serverless.excludes=
